@font-face {
    font-family: LemonMilk-Medium;
    src: url(fonts/LEMONMILK-Medium.otf);
}
@font-face {
    font-family: LemonMilk;
    src: url(fonts/LEMONMILK-Regular.otf);
}
@font-face {
    font-family: ChampagneLimo;
    src: url(fonts/ChampagneLimousines.ttf);
}
@font-face {
    font-family: ChampagneLimo-Bold;
    src: url(fonts/ChampagneLimousinesBold.ttf);
}

$primary-font: LemonMilk;
$primary-font-bold: LemonMilk-Medium;
$secondary-font: ChampagneLimo;
$secondary-font-bold: ChampagneLimo-Bold;