@use"colors" as *;
@use"typography" as *;

body {
    background-color: $neutral-color1;
}

.info-heading {
    background-image: url(../img/visit_trapholt_hero.jpg);
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 56px);
    display: flex;
    align-items: flex-end;
    div {
        font-family: $primary-font-bold;
        background-color: rgba($primary-color1, 0.7);
        margin: 50px;
        padding: 40px 50px;
        h1 {
            color: $neutral-color1;
            &.big {
                font-size: 80px;
            }
            &.little {
                font-size: 38px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .info-heading {
        height: 50vh;
        div {
            h1 {
                &.big {
                    font-size: 35px;
                }
                &.little {
                    font-size: 16px;
                }
            }
        }
    }
}

.info {
    color: $neutral-color2;
    h2 {
        font-family: $primary-font;
        font-size: 25px;
    }
    h3 {
        font-family: $secondary-font-bold;
        font-size: 22px;
    }
    p {
        font-family: $secondary-font;
        font-size: 22px;
    }
    .row.p-5 {
        padding-left: 95px !important;
        padding-top: 95px !important;
    }
    img.map {
        margin-top: 50px;
        width: 65vw;
    }
}