@font-face {
  font-family: LemonMilk-Medium;
  src: url(fonts/LEMONMILK-Medium.otf);
}
@font-face {
  font-family: LemonMilk;
  src: url(fonts/LEMONMILK-Regular.otf);
}
@font-face {
  font-family: ChampagneLimo;
  src: url(fonts/ChampagneLimousines.ttf);
}
@font-face {
  font-family: ChampagneLimo-Bold;
  src: url(fonts/ChampagneLimousinesBold.ttf);
}
body {
  background-color: #DFDADA;
}

.hero {
  background-image: url(../img/Michael_kvium_hero1.jpg);
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 56px);
  padding: 40px 0 40px 40px;
}
.hero div.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  border-color: #7E2226;
  height: 100%;
}
.hero div.content div.margin {
  margin-left: calc(50% + 20px);
}
.hero div.content div.margin .hero-header {
  color: #DFDADA;
  font-family: LemonMilk;
  margin-bottom: 30px;
  line-height: 1;
}
.hero div.content div.margin .hero-header.big {
  font-size: 120px;
}
.hero div.content div.margin .hero-header.little {
  font-size: 81px;
}
.hero div.content div.margin p {
  color: #DFDADA;
  font-family: ChampagneLimo-Bold;
  font-size: 40px;
  margin-bottom: 50px;
}
.hero div.content div.margin p span {
  background-color: #7E2226;
  width: 6px;
  height: 30px;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .hero {
    height: 50vh;
  }
  .hero div.content div.margin {
    margin-left: calc(25% + 20px);
  }
  .hero div.content div.margin .hero-header {
    margin-bottom: 20px;
  }
  .hero div.content div.margin .hero-header.big {
    font-size: 60px;
  }
  .hero div.content div.margin .hero-header.little {
    font-size: 40.5px;
  }
  .hero div.content div.margin p {
    font-size: 17px;
    margin-bottom: 30px;
  }
  .hero div.content div.margin p span {
    width: 3px;
    height: 18px;
  }
}
.break-image {
  background-image: url(../img/walk_in_the_park.jpg);
  background-size: cover;
  height: 100vh;
}

.break {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-left: 50px;
}
.break div {
  border-color: #3F4747;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  padding: 25px 50px 25px 25px;
}
.break div .break-header {
  color: #7E2226;
  font-family: LemonMilk;
  margin-bottom: 0;
  line-height: 1;
}
.break div .break-header.big {
  font-size: 130px;
  margin-top: 15px;
}
.break div .break-header.little {
  font-size: 67.5px;
  margin-top: 5px;
}
.break p {
  font-size: 30px;
  color: #3F4747;
  font-family: ChampagneLimo-Bold;
  margin: 25px 15px 25px 0;
}

@media only screen and (max-width: 768px) {
  .break-image {
    height: 50vh;
  }
  .break {
    height: 50vh;
  }
  .break div .break-header.big {
    font-size: 65px;
  }
  .break div .break-header.little {
    font-size: 34px;
  }
  .break p {
    font-size: 20px;
  }
}
.night-run {
  background-image: linear-gradient(90deg, rgb(5, 3, 6) 0%, rgba(156, 156, 156, 0) 70%), url(../img/flashlight-924099_1920.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  padding: 40px;
}
.night-run div.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
  border: 6px solid #7E2226;
  height: 100%;
}
.night-run div.content .night-header-gathered {
  margin-bottom: 45px;
}
.night-run div.content .night-header-gathered .night-header {
  color: #7E2226;
  font-family: LemonMilk;
  line-height: 1;
}
.night-run div.content .night-header-gathered .night-header.big {
  font-size: 110px;
}
.night-run div.content .night-header-gathered .night-header.little {
  font-size: 102px;
}
.night-run div.content .night-p {
  margin-bottom: 55px;
  color: #DFDADA;
  font-family: ChampagneLimo-Bold;
  font-size: 30px;
}
.night-run div.content .night-p p {
  margin-bottom: 0;
}
.night-run div.content .night-p p:last-of-type {
  margin-bottom: 45px;
}

@media only screen and (max-width: 768px) {
  .night-run div.content {
    justify-content: space-between;
  }
  .night-run div.content .night-header-gathered .night-header.big {
    font-size: 55px;
    margin-top: 40px;
  }
  .night-run div.content .night-header-gathered .night-header.little {
    font-size: 51px;
  }
  .night-run div.content .night-p p {
    font-size: 20px;
  }
  .night-run div.content .night-p p:last-of-type {
    margin-bottom: 0;
  }
}
a.button {
  background-color: #7E2226;
  padding: 10px;
  font-size: 30px;
  font-family: ChampagneLimo;
  text-decoration: none;
  color: #DFDADA;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 1;
  border: 3px solid #7E2226;
}
a.button:hover {
  background-color: #252525;
  transition: 0.3s;
}

@media only screen and (max-width: 768px) {
  a.button {
    padding: 5px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .row.reverse {
    flex-direction: column-reverse;
  }
}/*# sourceMappingURL=style.css.map */