@font-face {
  font-family: LemonMilk-Medium;
  src: url(fonts/LEMONMILK-Medium.otf);
}
@font-face {
  font-family: LemonMilk;
  src: url(fonts/LEMONMILK-Regular.otf);
}
@font-face {
  font-family: ChampagneLimo;
  src: url(fonts/ChampagneLimousines.ttf);
}
@font-face {
  font-family: ChampagneLimo-Bold;
  src: url(fonts/ChampagneLimousinesBold.ttf);
}
body {
  background-color: #DFDADA;
}

.container-nav {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}

.trapholt-menu {
  background-color: #3F4747;
}
.trapholt-menu a {
  color: #DFDADA;
}
.trapholt-menu a:hover {
  color: #DFDADA;
}
.trapholt-menu a:focus {
  color: #DFDADA;
}
.trapholt-menu .dropdown-menu {
  background-color: #DFDADA;
}
.trapholt-menu .dropdown-menu a {
  color: #252525;
}
.trapholt-menu .dropdown-menu a:hover {
  background-color: #708084;
}
.trapholt-menu .btn {
  border-color: #DFDADA;
  color: #DFDADA;
}
.trapholt-menu .btn:hover {
  background-color: #708084;
}
.trapholt-menu .btn:focus {
  border-color: #DFDADA;
}
.trapholt-menu .navbar-toggler:focus {
  border-color: #DFDADA;
  outline: none !important;
  box-shadow: none !important;
}
.trapholt-menu .navbar-toggler span {
  color: #DFDADA;
}

.hero {
  background-image: url(../img/Michael_kvium_hero1.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  padding: 40px 0 40px 40px;
}
.hero div.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  border-color: #7E2226;
  height: 100%;
}
.hero div.content div.margin {
  margin-left: calc(50% + 20px);
}
.hero div.content div.margin .hero-header {
  color: #DFDADA;
  font-family: LemonMilk;
  margin: 0;
  line-height: 1;
}
.hero div.content div.margin .hero-header.big {
  font-size: 120px;
}
.hero div.content div.margin .hero-header.little {
  font-size: 81px;
}
.hero div.content div.margin p {
  color: #DFDADA;
  font-family: ChampagneLimo-Bold;
  font-size: 40px;
  margin-bottom: 0;
}
.hero div.content div.margin p span {
  background-color: #7E2226;
  width: 6px;
  height: 30px;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .hero {
    height: 50vh;
  }
  .hero div.content div.margin {
    margin-left: calc(25% + 20px);
  }
  .hero div.content div.margin .hero-header.big {
    font-size: 60px;
  }
  .hero div.content div.margin .hero-header.little {
    font-size: 40.5px;
  }
  .hero div.content div.margin p {
    font-size: 17px;
  }
  .hero div.content div.margin p span {
    width: 3px;
    height: 18px;
  }
}
.break-image {
  background-image: url(../img/walk_in_the_park.jpg);
  background-size: cover;
  height: 100vh;
}

.break {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-left: 50px;
}
.break div {
  border-color: #3F4747;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  padding: 25px 50px 25px 25px;
}
.break div .break-header {
  color: #7E2226;
  font-family: LemonMilk;
  margin: 0;
  line-height: 1;
}
.break div .break-header.big {
  font-size: 130px;
  margin-top: 15px;
}
.break div .break-header.little {
  font-size: 67.5px;
}
.break p {
  font-size: 40px;
  color: #3F4747;
  font-family: ChampagneLimo-Bold;
}

@media only screen and (max-width: 768px) {
  .break-image {
    height: 50vh;
  }
  .break {
    height: 50vh;
  }
  .break div .break-header.big {
    font-size: 65px;
  }
  .break div .break-header.little {
    font-size: 34px;
  }
  .break p {
    font-size: 20px;
  }
}
.night-run {
  background-image: linear-gradient(90deg, rgb(5, 3, 6) 0%, rgba(156, 156, 156, 0) 70%), url(../img/flashlight-924099_1920.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  padding: 40px;
}
.night-run div.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  border: 6px solid #7E2226;
  height: 100%;
}
.night-run div.content .night-header {
  color: #7E2226;
  font-family: LemonMilk;
  margin: 0;
  line-height: 1;
}
.night-run div.content .night-header.big {
  font-size: 110px;
}
.night-run div.content .night-header.little {
  font-size: 102px;
}
.night-run div.content p {
  color: #DFDADA;
  font-family: ChampagneLimo-Bold;
  font-size: 30px;
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .night-run div.content {
    justify-content: space-between;
  }
  .night-run div.content .night-header.big {
    font-size: 55px;
  }
  .night-run div.content .night-header.little {
    font-size: 51px;
  }
  .night-run div.content p {
    font-size: 20px;
  }
}
.footer {
  background-color: #3F4747;
}
.footer .footer-col {
  color: #DFDADA;
  margin: 50px 0 0 50px;
}
.footer .footer-col h1 {
  font-family: LemonMilk;
  font-size: 20px;
}
.footer .footer-col h2 {
  font-family: ChampagneLimo-Bold;
  font-size: 22px;
}
.footer .footer-col p {
  font-family: ChampagneLimo;
  font-size: 18px;
}

a.button {
  background-color: #7E2226;
  padding: 10px;
  font-size: 30px;
  font-family: ChampagneLimo;
  text-decoration: none;
  color: #DFDADA;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 1;
  border: 3px solid #7E2226;
}
a.button:hover {
  background-color: #252525;
  transition: 0.3s;
}

@media only screen and (max-width: 768px) {
  a.button {
    padding: 5px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .row.reverse {
    flex-direction: column-reverse;
  }
}/*# sourceMappingURL=style.css.map */