@use"colors" as *;
@use"typography" as *;

.container-nav {
    position: sticky;
    z-index: 1;
}

.navb {
    height: 50px;
    background-color: $primary-color2;

    .col-7 {

        ul.main-menu {
            display: flex;
            justify-content: space-between;
            height: 100%;
            margin: 13px 0;
            padding-right: 230px;

            li {
                color: $neutral-color1;
                list-style-type: none;
                font-family: $secondary-font;
                font-size: 18px;
                &:hover ul {
                    display: block;
                }
                
                .menu-text {
                    text-decoration: none;
                    color: $neutral-color1;
                    &:hover {
                        text-decoration:underline;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
}

.nav-scroll {
    background-color: $neutral-color1;
    display: none;
    min-width: 100px;
    position: absolute;
    z-index: 1;
    margin: 10px 0 0 0;
    padding-left: 0;
    list-style-type: none;

    li {
        padding: 8px 15px !important;
        &:hover {
            background-color: $secondary-color;
        }

        a {
            color: $neutral-color2;
            padding: 0;
            text-decoration: none;
        }
    }
}

.search {
    padding: 10px 50px;
    display: flex;
    justify-content: flex-end;

    label {
        color: $neutral-color1;
        padding: 3px 10px 0 0;
        font-family: $secondary-font;
        font-size: 18px;
    }
}

img.vh100 {
    height: 100vh;
}

.break-image {
    background-image: url(../img/walk_in_the_park.jpg);
    background-size: cover;
    height: 100vh;
}
.break {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin-left: 50px; 
    div {
        border-color: $primary-color2;
        border-width: 6px 0 6px 6px;
        border-style: solid;
        padding: 25px 50px 25px 25px;
        .break-header {
            color: $primary-color1;
            font-family: $primary-font;
            margin: 0;
            line-height: 1;
        }
        .break-header.big {
            font-size: 130px;
            margin-top: 15px;

        }
        .break-header.little {
            font-size: 67.5px;
        }
    }
    p {
        font-size: 40px;
        color: $primary-color2;
        font-family: $secondary-font-bold;
    }
    a {
        background-color: $primary-color1;
        padding: 10px;
        font-size: 40px;
        font-family: $secondary-font;
        text-decoration: none;
        color: $neutral-color1;
        width: fit-content;
        line-height: 1;
    }
}



//ul = nav-ul
// li = nav-text

// li = nav-text-sub